@model FietsInfo.INGESCHREVENSCHEMA

@{
    ViewBag.Title = "Delete";
}

<h2>Voortgang verwijderen</h2>

<h3>Weet je zeker dat je je voortgang wilt verwijderen?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.Gebruikersnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.Gebruikersnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRAININGSSCHEMA.Trainingsnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRAININGSSCHEMA.Trainingsnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVoltooid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVoltooid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DagenVoltooid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DagenVoltooid)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-default" /> |
            @Html.ActionLink("Terug", "Index")
        </div>
    }
</div>
