@model FietsInfo.INGESCHREVENSCHEMA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.Gebruikersnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.Gebruikersnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TRAININGSSCHEMA.Trainingsnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TRAININGSSCHEMA.Trainingsnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsVoltooid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsVoltooid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DagenVoltooid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DagenVoltooid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Terug", "Index")
</p>
