@model IEnumerable<FietsInfo.INGESCHREVENSCHEMA>

@{
    ViewBag.Title = "Index";
}

<h2>Gevolgde trainingsschema's beheren</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT.UserID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TRAININGSSCHEMA.Trainingsnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsVoltooid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DagenVoltooid)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT.UserID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TRAININGSSCHEMA.Trainingsnaam)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsVoltooid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DagenVoltooid)
        </td>
        Hoe kunnen bewerken met 2 primary keys?
        <td>
            @Html.ActionLink("Wijzigen", "Edit", new { id=item.IsVoltooid}) |
            @Html.ActionLink("Details", "Details", new { id = item.IsVoltooid }) |
            @Html.ActionLink("Verwijderen", "Delete", new { id = item.IsVoltooid })
        </td>
    </tr>
}

</table>
