@model IEnumerable<FietsInfo.INGESCHREVENSCHEMA>

@{
    ViewBag.Title = "Index";
}

<h1>Voortgang trainingen</h1>
<h3>Bekijk en update de voortgang van de door jou gevolgde trainingsschema's</h3>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => (model.TRAININGSSCHEMA.Trainingsnaam))
        </th>
        <th>
            Dagen voltooid
        </th>
        <th>
            Schema voltooid
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TRAININGSSCHEMA.Trainingsnaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DagenVoltooid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsVoltooid)
    </td>
    <td>
        @Html.ActionLink("Voortgang updaten", "Edit", new { gebruikersnaam = item.Gebruikersnaam, trainingsnaam = item.Trainingsnaam }) |
        @Html.ActionLink("Ontvolgen", "Delete", new { gebruikersnaam = item.Gebruikersnaam, trainingsnaam = item.Trainingsnaam })
    </td>
</tr>
}

</table>
