@model FietsInfo.FIETSBENODIGDHEDEN

@{
    ViewBag.Title = "Details";
}

<h1>Fietsbenodigdheden</h1>
<h3>Lees hier meer over dit aspect.</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aspectnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aspectnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informatie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informatie)
        </dd>

    </dl>
</div>
@if ((bool)new DatabaseModel().ACCOUNT.Find((string)Session["Gebruikersnaam"]).IsAdmin)
{
    <p>
        @Html.ActionLink("Terug", "IndexAdmin")
    </p>
}

@if (!(bool)new DatabaseModel().ACCOUNT.Find((string)Session["Gebruikersnaam"]).IsAdmin)
{
    <p>
        @Html.ActionLink("Terug", "Index")
    </p>
}
