@model FietsInfo.FIETSBENODIGDHEDEN

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>FIETSBENODIGDHEDEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Aspectnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Aspectnaam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Informatie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Informatie)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Terug", "Index")
</p>
