@model IEnumerable<FietsInfo.FIETSBENODIGDHEDEN>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT.Wachtwoord)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Informatie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT.Wachtwoord)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Informatie)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Aspectnaam }) |
            @Html.ActionLink("Details", "Details", new { id=item.Aspectnaam }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Aspectnaam })
        </td>
    </tr>
}

</table>
