@model IEnumerable<FietsInfo.FIETSBENODIGDHEDEN>

@{
    ViewBag.Title = "Fietsbenodigdheden";
}

<h1>Fietsbenodigdheden</h1>
<h3>Lees hier over belangrijke aspecten bij het fietsen.</h3>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Aspectnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Informatie)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Aspectnaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Informatie)
    </td>
    <td>
        @Html.ActionLink("Lees meer...", "Details", new { id = item.Aspectnaam })
    </td>
</tr>
}

</table>
