@model FietsInfo.TRAININGSSCHEMA

@{
    ViewBag.Title = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Trainingsnaam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trainingsnaam)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urenmaandag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urenmaandag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urendinsdag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urendinsdag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urenwoensdag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urenwoensdag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urendonderdag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urendonderdag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urenvrijdag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urenvrijdag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urenzaterdag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urenzaterdag)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urenzondag)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urenzondag)
        </dd>

        <dt>
            Niveau
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trainingsniveau)
        </dd>

    </dl>
</div>
@if ((bool)new DatabaseModel().ACCOUNT.Find((string)Session["Gebruikersnaam"]).IsAdmin)
{
    <p>
        @Html.ActionLink("Terug", "IndexAdmin")
    </p>
}

@if (!(bool)new DatabaseModel().ACCOUNT.Find((string)Session["Gebruikersnaam"]).IsAdmin)
{
    <p>
        @Html.ActionLink("Terug", "Index")
    </p>
}

