@model IEnumerable<FietsInfo.TRAININGSSCHEMA>

@{
    ViewBag.Title = "Index";
}

<h2>Trainingsschema's</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Trainingsnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urenmaandag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urendinsdag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urenwoensdag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urendonderdag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urenvrijdag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urenzaterdag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urenzondag)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.trainingsniveau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Trainingsnaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Omschrijving)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urenmaandag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urendinsdag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urenwoensdag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urendonderdag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urenvrijdag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urenzaterdag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Urenzondag)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.trainingsniveau)
    </td>
    <td>
        @Html.ActionLink("Volgen", "Details", new { id = item.Trainingsnaam })
    </td>
</tr>
}

</table>
