@model IEnumerable<FietsInfo.ACCOUNT>

@{
    ViewBag.Title = "Accounts beheren";
}

<h1>Accounts beheren</h1>
<br />
<p>
    @Html.ActionLink("Nieuw account", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Gebruikersnaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Voornaam)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leeftijd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdmin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Binnenbeenlengte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gewicht)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lengte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Niveau)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Gebruikersnaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Voornaam)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Leeftijd)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsAdmin)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Binnenbeenlengte)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Gewicht)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Lengte)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Niveau)
    </td>
    <td>
        @Html.ActionLink("Wijzigen", "Edit", new { id = item.Gebruikersnaam }) |
        @Html.ActionLink("Details", "Details", new { id = item.Gebruikersnaam }) |
        @Html.ActionLink("Verwijderen", "Delete", new { id = item.Gebruikersnaam })
    </td>
</tr>
}

</table>
